<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Adopte Un Dev</title>
	</head>
	<body style="margin:0px; background: #f8f8f8; ">
		<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
			<div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
				<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
					<tbody>
						<tr>
							<td style="vertical-align: top; padding-bottom:30px;" align="center">
								<h4>AdopteUnDev</h4>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="padding: 40px; background: #fff;">
					<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
						<tbody>
							<tr>
								<td style="border-bottom:1px solid #f6f6f6;">
									<h1 style="font-size:14px; font-family:arial; margin:0px; font-weight:bold;">
										Bienvenu sur AdopteUnDev
									</h1>
								</td>
							</tr>
							<tr>
								<td style="padding:10px 0 30px 0;">
									<p>
										Merci de votre inscription à AdopteUnDev!, votre plateforme qui met en rélation les développeurs avec les entreprises pour les aider à trouver des solutions de développement web et mobile.
									</p>


									<p>Veuillez cliquer sur le lien suivant pour activer votre compte :</p>
									<a style="display: inline-block; padding: 15px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background:rgb(13, 229, 236); text-decoration:none;" href="{{ activationLink }}">Activer mon compte</a>


									<p>Si vous rencontrez des problèmes pour activer votre compte, vous pouvez utiliser le lien suivant pour vous connecter à votre compte et réinitialiser votre mot de passe :</p>

									<p>
										{{ activationLink }}

									</p>

									<p>Si vous avez des questions ou si vous souhaitez plus d'information, n'hésitez pas à contacter notre équipe support à l'adresse suivante:</p>
									<p>
										<a href="mailto:support@adopteundev.com">support@adopteundev.com</a>
									</p>

									<p>
										A très bientôt !
									</p>

									<p>
										AdopteUnDev Bot
									</p>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
